/* ----- IMPORTS ----- */
@font-face {
    font-family: "Roboto";
    src: url("./resources/fonts/Roboto-Regular.ttf") format("truetype");
}

/* ----- COLOR ----- */
:root {
    --grey-darker: 85,97,119;
    --grey-dark: 112,127,153;
    --grey: 141,153,174;
    --grey-light: 183,191,204;
    --grey-lighter: 219,223,230;

    --blue: 17, 138, 178;
    --green: 6, 214, 160;
    --yellow: 255, 209, 102;
    --red: 217, 4, 41;

    --orange: 232,89,12;

    --dark-background: 18,18,18;
    --dark-background-content: 29,29,29;
}

/* ----- BODY ----- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: rgba(var(--dark-background));
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.page {
    background-color: rgba(var(--dark-background-content));
    color: rgba(var(--grey-lighter), 0.9);
    padding-left: 20px;
    padding-right: 20px;
}

@media print {
    @page {
        bleed: 6mm;
        margin: 20px;
        size: A4 portrait;
        min-height:100%;
    }

    .page{
        background-color: transparent;
    }
}

/* ----- PARAGRAPH ----- */
.paragraph {
    width : 100%;
    overflow: hidden;
    margin-bottom: 16px;
}

/* ----- TITLES ----- */
h1 {
    font-size: 2.2em;
    font-weight: 900;
    margin-left: 8px;
    margin-bottom: 20px;
    margin-top: 12px;
}
h2 {
    font-size: 2.0em;
    font-weight: 600;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 12px;
}
h3 {
    font-size: 1.8em;
    font-weight: 500;
    margin-left: 24px;
    margin-bottom: 12px;
    margin-top: 8px;
}
h4 {
    font-size: 1.6em;
    font-weight: 400;
    margin-left: 32px;
    margin-bottom: 8px;
    margin-top: 8px;
}
h5 {
    font-size: 1.4em;
    font-weight: 300;
    margin-left: 40px;
    margin-bottom: 4px;
    margin-top: 4px;
}
h6 {
    font-size: 1.2em;
    font-weight: 300;
    margin-left: 48px;
    font-style: italic;
    margin-bottom: 4px;
    margin-top: 4px;
}

/* ----- BLOCKQUOTE ----- */
.blockquote {
    width: 100%;
    border-left: solid rgba(var(--grey-dark), 0.7) 4px;
    padding: 4px 8px;
    margin: 8px 4px;
    background-color: rgba(var(--grey-lighter), 0.4);
}

.info {
    border-left: solid rgba(var(--blue), 0.7) 4px;
    background-color: rgba(var(--blue), 0.4);
}

.warning {
    border-left: solid rgba(var(--yellow), 0.7) 4px;
    background-color: rgba(var(--yellow), 0.4);
}

.alert {
    border-left: solid rgba(var(--red), 0.7) 4px;
    background-color: rgba(var(--red), 0.4);
}

/* ----- FIGURE ----- */
figure {
    width: 100%;
    text-align: center;
}

figure > figcaption {
    text-align: center;
    opacity: 0.8;
    font-style: italic;
    font-size: 0.8em;
}

/* ----- HORIZONTAL RULE ----- */
.small_horizontal_rule {
    width: 30%;
    margin-left: 35%;
    border-top: solid rgba(var(--grey-light), 0.2) 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.medium_horizontal_rule {
    width: 40%;
    margin-left: 30%;
    border-top: solid rgba(var(--grey-light), 0.3) 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.large_horizontal_rule {
    width: 60%;
    margin-left: 20%;
    border-top: solid rgba(var(--grey-light), 0.4) 1px;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* ----- CODE BLOCK ----- */
pre {
    border: solid rgba(var(--grey-dark), 0.8) 1px;
    padding: 8px 0px;
}

/* ----- TABLE ----- */
th {
    font-weight: 500;
    background-color: rgb(var(--grey-dark));
    color: white;
    padding: 4px;
}
td{
    padding: 4px;
}
tr:nth-child(even) {
    background-color: rgb(var(--grey-lighter));
}

tr:nth-child(odd) {
    background-color: rgb(var(--grey-light));
}

/* ----- DEFINITION ----- */
dt {
    font-weight: 500;
}

dd {
    font-style: italic;
}

/* ----- IMAGE ----- */
img {
    width: 100%;
}

figure {
    margin-left: 0px;
    margin-right: 0px;
}

/* ----- LINK ----- */
a {
    color: rgba(var(--orange), 0.8);
}

a:link {
    color: rgba(var(--orange), 0.8);
}

/* visited link */
a:visited {
    color: rgba(var(--orange), 0.8);
}

/* mouse over link */
a:hover {
    color: rgba(var(--orange), 0.8);
}

/* selected link */
a:active {
    color: rgba(var(--orange), 0.8);
}


/* ----- TABLE OF CONTENT ----- */
#toc a::after{
    content: target-counter(attr(href), page);
    float: right;
    text-decoration: none;
    color: rgba(var(--grey-lighter), 0.9);
}

#toc {
    page-break-after: always;
    list-style: none;
    color: rgba(var(--grey-lighter), 0.9);
    margin: 0;
    padding: 0;
}

#toc a {
    text-decoration: none;
    color: rgba(var(--grey-lighter), 0.9);
}

.toc_element_1 {

}

.toc_element_2 {
    margin-left: 16px;

}

.toc_element_3 {
    margin-left: 32px;

}

.toc_element_4 {
    margin-left: 48px;
    font-size: 0.9em;
}

.toc_element_5 {
    margin-left: 64px;
    font-size: 0.9em;
}

.toc_element_6 {
    margin-left: 80px;
    font-size: 0.9em;
    font-style: italic;
}
