/* ----- IMPORTS ----- */
@font-face {
    font-family: "Solbera Imitation";
    src:
        url("./resources/fonts/Solbera Imitation.otf"),
        url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Solbera%20Imitation/Solbera%20Imitation.otf") format("opentype");
}
@font-face {
    font-family: "Cinzel";
    src: url("./resources/fonts/Cinzel-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "CinzelDecorative";
    src: url("./resources/fonts/CinzelDecorative-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Hahmlet";
    src: url("./resources/fonts/Hahmlet-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Nodesto Caps Condensed";
    src: url("./resources/fonts/Nodesto Caps Condensed Bold.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}


/* ----- COLOR ----- */
:root {
    --grey-darker: 85,97,119;
    --grey-dark: 112,127,153;
    --grey: 141,153,174;
    --grey-light: 183,191,204;
    --grey-lighter: 219,223,230;

    --blue: 17, 138, 178;
    --green: 6, 214, 160;
    --yellow: 255, 209, 102;
    --red: 217, 4, 41;

    --brown: 110,54,41;

    --light_brown: 201,173,106;
    --old-paper: 236,223,202;
}

/* ----- BODY ----- */
body {
    font-family: 'Hahmlet', sans-serif;
    font-size: 14px;
    background-color: rgba(var(--old-paper));
    overflow-x: hidden;
}

.page {
    overflow-x: hidden;
    background-color: rgba(var(--old-paper));
    bottom: 1em;
}

#md_content {
    columns: 1;
}

@media print {
    @page {
        margin: 20px;
        margin-bottom: 24px;
        size: A4 portrait;
        min-height:100%;
    }

    @page:left {
        @bottom-right {
            content: counter(page);
            color: rgba(var(--brown), 0.6);
            font-family: 'Cinzel', serif;
        }
    }
    @page:right {
        @bottom-left {
            content: counter(page);
            color: rgba(var(--brown), 0.6);
            font-family: 'Cinzel', serif;
        }
    }

    .full-page {
        page-break-before: always;
    }

    .full-page img{
        float:top;
        position: absolute;
        top: -20px; /* margin top of the page */
        left: -20px; /* left margin of the page */
        width: calc(100% + 40px);
        height: calc(100% + 44px);
        float-reference: page;
        max-width: unset !important;
    }

    .full-page figcaption {
        position: absolute;
        bottom: -24px;
        padding-bottom: 16px;
        color: white;
        width: 100%;
        text-align: center;
    }

    .page-break-after {
        page-break-after: always;
    }

}

/* ----- PARAGRAPH ----- */
.paragraph {
    width : 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: justify;
}

p {
    width : 100%;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: justify;
}

p:first-of-type::first-letter {
    -webkit-initial-letter: 4;
    initial-letter: 4;
    float: left;
    font-size: 8em;
    color: rgba(var(--brown), 1);
    font-family: "Solbera Imitation";
}

/* ----- TITLES ----- */
h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
    margin-top: 12px;
    font-family: "Nodesto Caps Condensed";
    color: rgba(var(--brown), 1);
    text-transform: uppercase;
    page-break-before: always;
}
h2 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 16px;
    margin-top: 12px;
    font-family: 'Cinzel', serif;
    color: rgba(var(--brown), 1);
}
h3 {
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 8px;
    font-family: 'Cinzel', serif;
    color: rgba(var(--brown), 1);
    border-bottom: solid rgba(var(--light_brown), 0.6) 2px;
    width: 100%;
}
h4 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: 'Cinzel', serif;
    color: rgba(var(--brown), 1);
}
h5 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 4px;
    font-family: 'Cinzel', serif;
    color: rgba(var(--brown), 1);
}
h6 {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4px;
    margin-top: 4px;
    font-family: 'Cinzel', serif;
    color: rgba(var(--brown), 1);
}

/* ----- BLOCKQUOTE ----- */
.blockquote {
    width: 100%;
    border-left: solid rgba(var(--grey-dark), 0.7) 4px;
    padding: 4px 8px;
    margin: 8px 4px;
    background-color: rgba(var(--grey-dark), 0.5);
}

.info {
    border-left: solid rgba(var(--blue), 0.7) 4px;
    background-color: rgba(var(--blue), 0.4);
}

.warning {
    border-left: solid rgba(var(--yellow), 0.8) 4px;
    background-color: rgba(var(--yellow), 0.6);
}

.alert {
    border-left: solid rgba(var(--red), 0.7) 4px;
    background-color: rgba(var(--red), 0.4);
}

/* ----- FIGURE ----- */
figure {
    width: 100%;
    text-align: center;
}

figure > figcaption {
    text-align: center;
    opacity: 0.8;
    font-style: italic;
    font-size: 0.8em;
}

/* ----- HORIZONTAL RULE ----- */
.horizontal_rule {
    width: 60%;
    margin-left: 20%;
    border-top: solid rgba(var(--brown), 0.4) 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* ----- CODE BLOCK ----- */
pre {
    border: solid rgba(var(--grey-dark), 0.8) 1px;
    padding: 8px 4px;
    width: calc(100% - 10px);
}

/* ----- TABLE ----- */
table {
    width: 100%;
}
th {
    font-weight: 500;
    background-color: rgb(var(--brown));
    color: white;
    padding: 4px;
}
td{
    padding: 4px;
}
tr:nth-child(even) {
    background-color: rgb(var(--light_brown), 0.7);
}

tr:nth-child(odd) {
    background-color: rgb(var(--light_brown), 0.4);
}

/* ----- DEFINITION ----- */
dt {
    font-weight: 500;
}

dd {
    font-style: italic;
}

/* ----- IMAGE ----- */
img {
    max-width: 100%;
}

figure {
    margin-left: 0px;
    margin-right: 0px;
}

/* ----- LIST ----- */
ul {
    margin: 0px;
}


/* ----- TABLE OF CONTENT ----- */
#toc a::after{
    content: target-counter(attr(href), page);
    float: right;
    text-decoration: none;
    color: #000000;
}

#toc {
    page-break-after: auto;
    list-style: none;
    color: #000000;
    margin: 0;
    padding: 0;
}

#toc a {
    text-decoration: none;
    color: #000000;
}

.toc_element_1 {

}

.toc_element_2 {
    margin-left: 16px;

}

.toc_element_3 {
    margin-left: 32px;

}

.toc_element_4 {
    margin-left: 48px;
    font-size: 0.9em;
}

.toc_element_5 {
    margin-left: 64px;
    font-size: 0.9em;
}

.toc_element_6 {
    margin-left: 80px;
    font-size: 0.9em;
    font-style: italic;
}
