/* ----- IMPORTS ----- */
/* ex : @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap'); */

/* ----- COLOR ----- */
:root {

}

/* ----- BODY ----- */
body {

}

.page {

}

#md_content {

}

@media print {
    @page {
        margin: 20px;
        size: A4 portrait;
    }
}

/* ----- PARAGRAPH ----- */
.paragraph {

}

p {

}

p:first-of-type::first-letter {

}

/* ----- TITLES ----- */
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

/* ----- BLOCKQUOTE ----- */
.blockquote {

}

.info {

}

.warning {

}

.alert {

}

/* ----- FIGURE ----- */
figure {

}

figure > figcaption {

}

/* ----- HORIZONTAL RULE ----- */
.small_horizontal_rule {

}
.medium_horizontal_rule {

}
.large_horizontal_rule {

}

/* ----- CODE BLOCK ----- */
pre {

}

/* ----- TABLE ----- */
table {

}
th {

}
td{

}
tr:nth-child(even) {

}

tr:nth-child(odd) {

}

/* ----- DEFINITION ----- */
dt {

}

dd {

}

/* ----- IMAGE ----- */
img {

}

figure {

}

/* ----- LIST ----- */
ul {

}
li {

}

/* ----- ITALIC ----- */
i {

}

/* ----- BOLD ----- */
b {

}

/* ----- STRIKETHROUGH ----- */
strike {

}

/* ----- CODE BLOCK ----- */
pre {

}

code {

}


/* ----- TABLE OF CONTENT ----- */
#toc a::after{
    content: target-counter(attr(href), page);
    float: right;
}

#toc {

}

#toc a {

}

.toc_element_1 {

}

.toc_element_2 {

}

.toc_element_3 {

}

.toc_element_4 {

}

.toc_element_5 {

}

.toc_element_6 {

}

